:root {
  --dark-blue: #4682B4;
  --dark-yellow: #e6840e;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

uL,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.wrapper {
  min-height: 100%;
}

.wrapper._loaded {
  opacity: 1;
}

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.page__pagination {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translate(50px, -50px);
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

.page__bullet {
  width: 10px;
  height: 10px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  margin: 12px 24px 0px 0px;
  border-radius: 50%;
  transition: background-color 0.3s ease 0s;
}

@media (max-width: 767px) {
  .page__bullet {
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    margin: 10px 4px 0px 0px;
    border-radius: 50%;
    transition: background-color 0.3s ease 0s;
  }
}
.page__bullet_active {
  transform: scale(1.5);
  background-color: rgb(31, 29, 29);
}

.page__scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.page__drag-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

/*------------------------*/
.screen {
  flex: 1 0 100%;
  position: relative;
}

.screen__content {
  padding: 100px 25px 25px 25px;
  position: relative;
  z-index: 2;
}

.screen__body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.screen__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.screen__image img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 0px 20px;
  transform: translate(0px, -100%);
  background-color: rgba(0, 0, 0, 0.151);
}

.wrapper._loaded .header {
  transition: transform 2.4s ease 0.8s;
  transform: translate(0px, 0px);
}

.wrapper._loaded .page__pagination {
  transform: translate(0, -50px);
  opacity: 1;
  visibility: visible;
  transition: transform 4.2s ease 0.8s;
}

.wrapper._free .page__pagination {
  transition: all 0.8s ease 0s;
  transform: translate(50px, -50%);
  opacity: 0;
}

@media (min-width: 767px) {
  .wrapper._loaded .swiper-button-prev,
.wrapper._loaded .swiper-button-next {
    margin: 80px 200px;
    color: #fff;
    font-size: 64px;
    transform: translate(0, -80px);
    transition: transform 5.6s ease 0.8s;
  }
}
@media (max-width: 767px) {
  .wrapper._loaded .swiper-button-prev,
.wrapper._loaded .swiper-button-next {
    margin: 100px 240px;
    color: #fff;
    font-size: 64px;
    transform: translate(0, -54px);
    transition: transform 5.6s ease 0.8s;
  }
}
.menu {
  display: flex;
  min-height: 50px;
  align-items: center;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.top-left {
  font-family: "Play", sans-serif;
  font-size: 60px;
  font-weight: 900;
  color: var(--dark-yellow);
  margin: 0px 0px 30px 0px;
  display: inline-block;
  background-color: rgba(71, 67, 67, 0.192);
  padding: 15px;
  position: absolute;
  top: 80px;
  left: 40px;
  text-align: left;
}

.top-left p {
  font-family: "Play", sans-serif;
  line-height: 110%;
  color: rgb(255, 255, 255);
  font-size: 24px;
  text-align: left;
  padding: 7px 0px 0px 0px;
  width: 450px;
  margin: 0 0 1em 0;
  overflow: hidden;
}

@media (max-width: 767px) {
  .top-left {
    font-family: "Play", sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: var(--dark-yellow);
    margin: 0px 0px 10px 0px;
    display: inline-block;
    background-color: rgba(71, 67, 67, 0.096);
    position: absolute;
    top: 100px;
    left: 0px;
    text-align: left;
  }
  .top-left p {
    font-family: "Play", sans-serif;
    line-height: 110%;
    font-size: 18px;
    text-align: left;
    color: rgb(255, 255, 255);
    width: 200px;
    margin: 0 0 1em 0;
    overflow: hidden;
  }
}
.swiper-button-prev::after,
.swiper-button-next::after {
  margin: 80px 200px;
  color: #fff;
  font-size: 64px;
}

.swiper-button-prev,
.swiper-button-next {
  margin: 80px 200px;
  color: #fff;
  font-size: 64px;
}

@media (max-width: 767px) {
  .swiper-button-prev::after,
.swiper-button-next::after {
    margin: 100px 240px;
    color: #fff;
    font-size: 42px;
  }
  .swiper-button-prev,
.swiper-button-next {
    margin: 100px 240px;
    color: #fff;
    font-size: 42px;
  }
}
@media (min-width: 430px) and (max-width: 650px) {
  .swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
  }
  .swiper-button-prev,
.swiper-button-next {
    display: none;
  }
}
body._lock {
  overflow: hidden;
}

.page__text {
  margin: 100px 50px 100px 50px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  text-transform: uppercase;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  justify-content: center;
  min-height: 70px;
}

@media (max-width: 767px) {
  .header__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 0px 30px;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    text-transform: uppercase;
  }
}
.menu__icon {
  display: none;
}

.menu__list li {
  position: relative;
  margin: 0px 0px 0px 20px;
}

.menu__link {
  color: #fff;
  font-size: 18px;
}

@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 40px;
    height: 24px;
    cursor: pointer;
  }
  .menu__icon span,
.menu__icon::before,
.menu__icon::after {
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::before,
.menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .menu__icon._active::after {
    top: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 120% 0%;
    transition: right 0.8s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    right: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.055);
    z-index: 2;
  }
  .menu__list > li {
    text-align: center;
    margin: 70px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.swiper-scrollbar-drag {
  background-color: rgba(255, 255, 255, 0.411);
}

@media (max-width: 767px) {
  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .social-icon li {
    display: inline-block;
    list-style: none;
  }
  .social-icon li a {
    background: #ffffff;
    border-radius: 100%;
    color: #030101;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 5px;
    margin: 12px 6px 0px 6px;
  }
  .social-icon li a:hover {
    background: #000000;
    color: #ffffff;
    transform: scale(1.2);
    top: -5px;
  }
}
@media (min-width: 767px) {
  .social-icon {
    margin: 0 auto;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .social-icon li {
    display: inline-block;
    list-style: none;
  }
  .social-icon li a {
    background: #ffffff;
    border-radius: 100%;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 0;
    margin: 5px -10px 0px 0px;
  }
  .social-icon li a:hover {
    background: #000000;
    color: #ffffff;
    transform: scale(1.2);
    top: -5px;
  }
}
@media (min-width: 767px) {
  .bottom-left {
    font-size: 30px;
    position: absolute;
    bottom: 10%;
    left: 15%;
  }
  .fa-thumbs-up {
    font-size: 46px;
    color: rgb(0, 0, 0);
  }
  .fa-thumbs-up:hover {
    font-size: 46px;
    -webkit-animation: shake 5s;
            animation: shake 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    color: rgb(0, 0, 0);
  }
  @-webkit-keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
}
@media (max-width: 767px) {
  .bottom-left {
    font-size: 24px;
    position: absolute;
    bottom: 88px;
    left: 20px;
  }
  .fa-thumbs-up {
    font-size: 36px;
    color: rgb(255, 255, 255);
  }
}
.item1.color,
.item2.color,
.item3.color {
  color: red;
}

.footer {
  width: 100vw;
  height: 100vh;
  text-align: center;
  vertical-align: middle;
}

.footer__info {
  color: #888;
  position: relative;
  display: flex;
  flex-direction: column;
}

.sub-info {
  font-size: 20px;
  left: 0;
  background-color: var(--dark-yellow);
  height: 2px;
  max-width: 50%;
  margin: 0 auto;
}

.sub-info p {
  padding: 20px 0px 0px 0px;
}

@media (max-width: 290px) {
  .sub-info p {
    padding: 10px 0px 0px 0px;
    font-size: 12px;
  }
}
.first {
  font-size: 72px;
  font-weight: 700;
  margin: 0px 0px 40px 0px;
  padding: 60px 0px 0px 0px;
  text-align: center;
}

.second {
  font-size: 38px;
  font-weight: 700;
  margin: 0px 0px 40px 0px;
  text-align: center;
}

.second:hover {
  transform: scale(1.3);
}

.third {
  font-size: 38px;
  text-align: center;
}

.footer {
  background: #000;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

@media (min-width: 767px) {
  .footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
    font-size: 32px;
    padding: 40px 0px 40px 0px;
  }
  .footer .row ul li:hover {
    transform: scale(1.1);
  }
}
.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: center;
    font-size: 22px;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}
._animate {
  transform: translateY(100%);
  opacity: 0;
  transition: 400ms 850ms;
}
._scroll-animation.swiper-slide-active ._animate {
  transform: translateY(0);
  opacity: 1;
}

._animate-delayed {
  transform: translateY(100%);
  opacity: 0;
  transition: 450ms 1050ms;
}
._scroll-animation.swiper-slide-active ._animate-delayed {
  transform: translateY(0);
  opacity: 1;
}